*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
label {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-size: 14px;
  background: #fff;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

.swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.fancybox-infobar {
  color: #fff;
}

.fancybox-infobar span {
  color: #fff;
}

.indent-block {
  margin: 80px 0;
}

.indent-block__top {
  margin: 80px 0 0 0;
}

.indent-block__bottom {
  margin: 0 0 80px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.a-base {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-full {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  padding: 18px 20px;
  border-radius: 6px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border: 0;
}

.button:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.button-red {
  color: #fff;
  background: #DD2B1C;
}

.button-red span.text {
  color: #fff;
  margin: 0 0 0 20px;
}

.button-red:hover {
  color: #fff;
  background: #EE3828;
}

.button-red:active {
  color: #fff;
  background: #C62619;
}

.button-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 19px;
  color: #151616;
  font-weight: 500;
}

.button-more span.icon {
  min-width: 44px;
  max-width: 44px;
  height: 44px;
  border: 1px solid #D2D2D2;
  border-radius: 50%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.button-more span.icon svg path {
  fill: #DD2B1C;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.button-more:hover {
  color: #DD2B1C;
}

.button-more:active {
  color: #C62619;
}

.button-more:active span.icon {
  background: #FCFCFC;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.attention {
  position: relative;
  padding: 20px 0;
  background: #DD2B1C;
}

.attention p {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.attention-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 18px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 25;
  background: #fff;
}

.header-menu {
  padding: 15px 0;
  border-bottom: 1px solid #E1E1E1;
}

.header-content {
  padding: 13px 0;
}

.header-content__logo {
  min-width: 270px;
  max-width: 270px;
  margin: 0 30px 0 0;
}

.header-content__logo img {
  width: 180px;
}

.header-content__block {
  width: 100%;
}

.header-content__block_phones {
  margin: 0 30px 0 0;
}

.header-content__block_phones p {
  margin: 0 0 8px 0;
}

.header-content__block_phones p span.note {
  color: #151616;
  font-size: 14px;
  line-height: 19px;
  display: block;
  margin: 0 0 0 10px;
}

.header-content__block_phones a.phone {
  font-size: 18px;
  line-height: 24px;
  color: #DD2B1C;
  font-weight: 600;
}

.header-content__block_phones a.callback img {
  min-width: 19px;
  max-width: 19px;
}

.header-content__block_phones a.callback span.text {
  font-size: 14px;
  line-height: 19px;
  color: #151616;
  font-weight: 500;
  margin: 0 0 0 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-content__block_phones a.callback:hover span.text {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: #DD2B1C;
}

.header-content__block_mail {
  margin: 3px 30px 0 0;
}

.header-content__block_mail a.mail img {
  min-width: 19px;
  max-width: 19px;
}

.header-content__block_mail a.mail span.text {
  font-size: 14px;
  line-height: 19px;
  color: #151616;
  font-weight: 500;
  margin: 0 0 0 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-content__block_mail a.mail:hover span.text {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: #DD2B1C;
}

.header-gray {
  background: #F5F5F5;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
}

.header-catalog {
  min-width: 270px;
  max-width: 270px;
  margin: 0 30px 0 0;
}

.header-catalog__button {
  padding: 15px 20px;
}

.header-catalog .toggle-cont {
  width: 19px;
  height: 20px;
  font-size: 0;
  cursor: pointer;
}

.header-catalog .toggle-cont:after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.header-catalog .toggle {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  position: relative;
  background: #fff;
}

.header-catalog .toggle:before, .header-catalog .toggle:after {
  content: "";
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
}

.header-catalog .toggle:before {
  -webkit-transform: translateY(-350%);
          transform: translateY(-350%);
  top: 0;
}

.header-catalog .toggle:after {
  top: 0;
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}

.header-item {
  margin: 0 0 0 5px;
  white-space: nowrap;
}

.header-item a.link {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  font-weight: 500;
  padding: 15px 24px 15px 15px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 6px;
}

.header-item a.link span.text {
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-item a.link img {
  min-width: 21px;
  max-width: 21px;
  margin: 0 0 0 14px;
}

.header-item a.link span.quantity {
  position: absolute;
  top: 7px;
  right: 12px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background: #DD2B1C;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  font-weight: 500;
  border: 2px solid #F5F5F5;
  padding: 2px 2px 3px 2px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-item a.link:hover {
  border-color: #DCDCDC;
  background: #FCFCFC;
  color: #DD2B1C;
}

.header-item a.link:hover span.text {
  color: #DD2B1C;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-search {
  width: 100%;
}

.header-search__form {
  padding: 3px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #DCDCDC;
  height: 50px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-search__form .input {
  padding: 10px 20px;
  border: 0;
  outline: none;
  color: #151616;
  width: 100%;
}

.header-search__form ::-webkit-input-placeholder {
  color: #929292;
}

.header-search__form ::-moz-placeholder {
  color: #929292;
}

.header-search__form :-moz-placeholder {
  color: #929292;
}

.header-search__form :-ms-input-placeholder {
  color: #929292;
}

.header-search__form .button {
  background: #ABABAB;
  padding: 11px;
  max-width: 41px;
  height: 41px;
  min-width: 41px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-search__form .button svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-search__form .button:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background: #DD2B1C;
}

.header-search__form .button:hover svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header-search__form:hover {
  border-color: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main-menu__item {
  display: block;
  margin: 0 0 0 30px;
  padding: 0;
}

.main-menu__link {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

.main-menu__link:hover {
  color: #DD2B1C;
}

.main-menu__link.selected {
  color: #DD2B1C;
}

.user-block {
  position: relative;
}

.user-block__button {
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid #DCDCDC;
  background: #F5F5F5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.user-block__button span.text {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.user-block__button:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.user-block__button:hover span.text {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: #DD2B1C;
}

.user-block__button svg path {
  fill: #DD2B1C;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.user-block__button_active.active {
  background: #DD2B1C;
  border-color: #DD2B1C;
}

.user-block__button_active.active span.text {
  color: #fff;
}

.user-block__button_active.active svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.user-block__menu {
  position: absolute;
  width: 160px;
  right: 0;
  top: 50px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: 14px;
  border-radius: 6px;
  z-index: 17;
  display: none;
}

.user-block__menu li {
  display: block;
  padding: 0;
  margin: 0 0 4px 0;
}

.user-block__menu li:last-child {
  margin: 0;
}

.user-block__menu li a {
  padding: 6px;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  display: block;
  text-align: right;
  color: #151616;
}

.user-block__menu li a:hover {
  background: #F5F5F5;
  color: #151616;
}

.user-block__menu li a.selected {
  background: #F5F5F5;
  color: #151616;
}

.main-section {
  margin: 20px 0 0 0;
}

.sidebar {
  max-width: 270px;
  min-width: 270px;
  margin: 0;
  position: relative;
  z-index: 15;
}

.left-menu {
  display: block;
  margin: 0;
  padding: 10px 0;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

.left-menu__item {
  display: block;
  margin: 0;
  padding: 0;
}

.left-menu__link {
  padding: 10px 20px;
  display: block;
  font-size: 14px;
  line-height: 19px;
  color: #151616;
  font-weight: 500;
  color: #151616;
}

.left-menu__link:hover {
  color: #151616;
  background: #F5F5F5;
}

.left-menu__link.active {
  color: #DD2B1C;
  background: #F5F5F5;
}

.left-menu__link img {
  display: none;
}

.left-menu__dropdown {
  position: absolute;
  top: 0;
  left: 265px;
  bottom: 0;
  -webkit-box-shadow: 5px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 2px 6px rgba(0, 0, 0, 0.15);
  width: 905px;
  background: #fff;
  border-radius: 0 6px 6px 0;
  padding: 20px 30px;
  border-left: 1px solid #F5F5F5;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.left-menu__dropdown p.title {
  font-size: 18px;
  line-height: 24px;
  color: #151616;
  margin: 0 0 15px 0;
  font-weight: 700;
}

.left-menu__submenu {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-fill: auto;
          column-fill: auto;
  height: calc(100% - 35px);
}

.left-menu__submenu_item {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  overflow: hidden;
}

.left-menu__submenu_link {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  font-weight: 700;
}

.left-menu__submenu_link:hover {
  color: #DD2B1C;
}

.left-menu .submenu {
  display: block;
  margin: 0;
  padding: 0;
}

.left-menu .submenu-item {
  margin: 14px 0 0;
  padding: 0;
  display: block;
}

.left-menu .submenu-link {
  font-size: 14px;
  line-height: 19px;
  color: #6D6D6D;
  font-weight: 400;
}

.left-menu .submenu-link:hover {
  color: #DD2B1C;
}

.left-menu__item:hover .left-menu__dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.left-menu__item:hover .left-menu__link {
  color: #DD2B1C;
  background: #F5F5F5;
}

.main-block__content {
  width: 100%;
  max-width: 870px;
  margin: 0 0 0 30px;
}

.main-slider__slide {
  min-height: 350px;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

.main-slider__content {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  position: relative;
  margin: 0 0 35px 0;
}

.main-slider__text {
  max-width: 390px;
}

.main-slider__text p {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 15px 0 30px;
  font-weight: 400;
}

.main-slider__text_caption {
  font-size: 22px !important;
  line-height: 30px !important;
  color: #000;
  font-weight: 700 !important;
  padding: 0;
  margin: 0 0 15px 0 !important;
}

.main-slider__text .button {
  padding: 12px 30px 13px;
}

h1 {
  font-size: 22px;
  line-height: 30px;
  color: #000;
  font-weight: 700;
  padding: 0;
  margin: 0 0 15px 0;
}

.swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  z-index: 5;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  position: absolute;
  top: calc(50% - 20px);
  left: -15px;
}

.swiper-prev svg path {
  fill: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.swiper-prev:hover {
  background: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.swiper-prev:hover svg path {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  fill: #DD2B1C;
}

.swiper-prev:active {
  background: #FCFCFC;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.swiper-prev:active svg path {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  fill: #DD2B1C;
}

.swiper-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  z-index: 5;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  position: absolute;
  top: calc(50% - 20px);
  right: -15px;
}

.swiper-next svg path {
  fill: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.swiper-next:hover {
  background: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.swiper-next:hover svg path {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  fill: #DD2B1C;
}

.swiper-next:active {
  background: #FCFCFC;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.swiper-next:active svg path {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  fill: #DD2B1C;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -20px;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 2px;
  display: inline-block;
  border-radius: 0;
  background: #DCDCDC;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #DD2B1C;
}

.services-slider__content {
  position: relative;
  margin: 0 -7px;
}

.services-slider__content .swiper-prev {
  left: -12px;
}

.services-slider__content .swiper-next {
  right: -8px;
}

.services-slider__slide {
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  margin: 7px;
  position: relative;
  height: 210px;
  overflow: hidden;
}

.services-slider__slide_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  height: 100%;
}

.services-slider__slide_list {
  background: #DD2B1C;
  padding: 30px;
  border-radius: 6px;
}

.services-slider__slide_list p.title {
  font-size: 14px;
  line-height: 19px;
  color: #F8A69F;
  margin: 0 0 16px 0;
  font-weight: 700;
}

.services-slider__slide_list ul.list {
  display: block;
  margin: 0;
  padding: 0;
}

.services-slider__slide_list ul.list li {
  display: block;
  margin: 0 0 12px 0;
  padding: 0;
}

.services-slider__slide_list ul.list li:last-child {
  margin: 0;
}

.services-slider__slide_list ul.list li a {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: 400;
}

.services-slider__slide_list ul.list li a:hover {
  color: #fff;
  text-decoration: underline;
}

.services-slider__slide_image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

.services-slider__slide_image img {
  width: 100%;
  max-width: 250px;
}

.services-slider__slide_text {
  position: relative;
  z-index: 3;
}

.services-slider__slide p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 10px 0 0;
  color: #000;
  max-width: 180px;
}

.services-slider__slide a.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
}

.services-slider__slide a.title:hover {
  color: #DD2B1C;
}

.services-slider__slide a.link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #DD2B1C;
  position: relative;
  z-index: 3;
}

.services-slider__slide a.link:hover {
  color: #151616;
  text-decoration: none;
}

.services-slider__slide a.link:active {
  color: #000;
}

.swiper-button-lock {
  display: none;
}

.main-company {
  margin: 65px 0 80px;
  padding: 80px 0;
  background: #FBFBFB;
}

.main-company__text {
  margin: 20px 0;
}

.main-company__text h2 {
  margin: 0 0 20px 0;
  max-width: 470px;
}

.main-company__text p {
  font-size: 14px;
  line-height: 22px;
  color: #6D6D6D;
  margin: 0 0 30px 0;
  font-weight: 400;
  max-width: 470px;
}

.main-company__slider {
  position: relative;
}

.main-company__slider img {
  width: 100%;
  border-radius: 6px;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  color: #000;
  font-weight: 700;
  margin: 0 0 30px 0;
  padding: 0;
}

.odds-block {
  margin: 0 -15px;
}

.odds-block__item {
  width: calc(25% - 30px);
  margin: 0 15px;
  position: relative;
  height: 270px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.odds-block__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.odds-block__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 6px;
}

.odds-block__item_content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}

.odds-block__item_content p {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  margin: 25px 0 0 0;
  font-weight: 700;
}

.odds-block__item_content img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

.docs {
  padding: 80px 0 55px;
  background: #FBFBFB;
}

.docs-slider {
  padding: 0 10px 25px;
}

.docs-item {
  width: 100%;
  height: 240px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.docs-item:hover {
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.docs-item img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.docs-content {
  position: relative;
  margin: 0 -10px;
}

.docs-content .swiper-prev {
  top: calc(50% - 35px);
  left: -7px;
}

.docs-content .swiper-next {
  top: calc(50% - 35px);
  right: -7px;
}

.block-caption {
  margin: 0 0 30px 0;
}

.block-caption h2 {
  margin: 0 20px 0 0;
}

.block-caption a.link {
  color: #DD2B1C;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

.block-caption a.link:hover {
  color: #151616;
}

.block-caption a.link:active {
  color: #000;
}

.system {
  margin: 80px 0 50px;
}

.system-item {
  margin: 0 0 30px 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.system-item:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.system-item__image {
  width: 100%;
  height: 205px;
}

.system-item__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.system-item__text {
  padding: 20px 30px;
}

.system-item__text a.link {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 600;
}

.system-item__text a.link:hover {
  color: #DD2B1C;
}

.system-item__text p {
  font-size: 14px;
  line-height: 19px;
  color: #6D6D6D;
  margin: 15px 0 0 0;
  font-weight: 400;
}

.popular-categories {
  background: #FBFBFB;
  padding: 80px 0;
}

.popular-categories__slider {
  position: relative;
  margin: 0 -10px;
}

.popular-categories__slider .swiper-prev {
  top: 85px;
  left: -7px;
}

.popular-categories__slider .swiper-next {
  top: 85px;
  right: -7px;
}

.categories-slider {
  padding: 0 10px;
}

.categories-slider-slide {
  margin: 0 0 15px 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.categories-slider-slide:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.categories-slider-slide__image {
  width: 100%;
  height: 205px;
}

.categories-slider-slide__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.categories-slider-slide__text {
  padding: 20px 30px;
}

.categories-slider-slide__text a.link {
  font-size: 16px;
  line-height: 22px;
  color: #151616;
  font-weight: 500;
  display: inline-block;
  height: 45px;
  overflow: hidden;
}

.categories-slider-slide__text a.link:hover {
  color: #DD2B1C;
}

.nav-tabs {
  border-bottom: 2px solid #D8D8D8;
}

.nav-tabs .nav-item {
  margin: 0 30px 0 0;
}

.nav-tabs .nav-item:last-child {
  margin: 0;
}

.nav-tabs .nav-link {
  padding: 0 0 15px 0;
  border: 0;
  border-bottom: 2px solid transparent;
  font-size: 14px;
  line-height: 19px;
  color: #6D6D6D;
  font-weight: 500;
  margin-bottom: -2px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  background: transparent;
  color: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.nav-tabs .nav-link:active {
  border-color: transparent;
  background: transparent;
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.nav-tabs .nav-link.active {
  background: transparent;
  border-color: #DD2B1C;
  color: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.services-indent {
  position: relative;
  margin: 0 -10px;
}

.services-indent .swiper-prev {
  left: -7px;
}

.services-indent .swiper-next {
  right: -7px;
}

.serv-slider {
  padding: 10px;
}

.serv-slider__slide {
  display: block;
  position: relative;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 6px;
  height: 400px;
  width: 100%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.serv-slider__slide:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.serv-slider__slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.serv-slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.serv-slider__slide span.text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: 5;
}

.serv-slider__slide span.text-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  display: block;
  margin: 0 0 20px 0;
  height: 45px;
  overflow: hidden;
}

.serv-slider__slide span.text-desrc {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  display: block;
  font-weight: 300;
  margin: 0;
}

.blog-tabs {
  background: #FBFBFB;
  padding: 80px 0;
}

.blog-item__image {
  width: 100%;
  height: 200px;
  margin: 0 0 20px 0;
  border-radius: 6px;
  position: relative;
}

.blog-item__image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog-item__image p.note {
  padding: 7px 10px 8px;
  background: #DD2B1C;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 3;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  border-radius: 25px;
}

.blog-item a.link {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 700;
}

.blog-item a.link:hover {
  color: #DD2B1C;
}

.blog-item p {
  font-size: 14px;
  line-height: 19px;
  color: #6D6D6D;
  font-weight: 0;
  margin: 15px 0 0;
}

.video-iframe {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
}

.video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-block {
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.video-block .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.video-block .video-btn {
  width: 48px;
  height: 48px;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  z-index: 10;
}

.play-hidden {
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  visibility: hidden;
}

.seo-text {
  max-width: 970px;
  margin: 0 auto;
}

.seo-text h2 {
  font-size: 32px;
  line-height: 43px;
}

.seo-text p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: #6D6D6D;
}

.seo-text p:last-child {
  margin: 0;
}

.footer-form {
  background: #242626;
  padding: 80px 0;
}

.footer-form p {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  margin: 15px 0 0 0;
  font-weight: 300;
}

.footer-form p.caption {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.footer-form .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.footer-form .form-flex .form-group {
  width: calc(28% - 10px);
  margin: 0 5px 10px;
}

.footer-form .form-flex .form-group:first-child {
  width: calc(44% - 10px);
}

.footer-form .form-flex .form-control {
  border-color: #fff;
}

.footer-form .form-flex .form-control:hover {
  border-color: #fff;
}

.footer-form .form-flex .form-control:active {
  border-color: #fff;
}

.footer-form .form-action {
  margin: 15px 0 0;
}

.footer-form .form-action .button {
  padding: 13px 25px;
}

.footer-form .form-action p {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: 400;
  margin: 0 20px 0 0;
}

.footer-form .form-action p a {
  color: #fff;
  text-decoration: none;
}

.footer-form .form-action p a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-message {
  background: #fff;
  padding: 60px 0;
}

.footer-message__content {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 30px 40px;
  background: #fff;
}

.footer-message__content p {
  font-size: 14px;
  line-height: 19px;
  color: #DD2B1C;
  margin: 0 0 5px 0;
  font-weight: 500;
  max-width: 500px;
}

.footer-message__content p.note {
  font-size: 20px;
  line-height: 27px;
  color: #000;
  font-weight: 700;
  margin: 0;
}

.footer-content {
  padding: 60px 0;
  background: #242626;
}

.footer-block__logo {
  margin: 0 0 30px 0;
}

.footer-block__logo img {
  width: 180px;
}

.footer-block__item {
  margin: 0 0 30px 0;
}

.footer-block__item:last-child {
  margin: 0;
}

.footer-block__indent {
  margin: 39px 0 30px 0;
}

.footer-block p.caption {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.footer-block__contacts {
  margin: 0 0 20px 0;
}

.footer-block__contacts p {
  margin: 0 0 10px 0;
}

.footer-block__contacts p a.link {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: 500;
}

.footer-block__contacts p a.link:hover {
  color: #DD2B1C;
}

.footer-block__form p {
  font-size: 14px;
  line-height: 19px;
  color: #ABABAB;
  margin: 0 0 7px 0;
  font-weight: 400;
}

.footer-block__form .form .button {
  padding: 13px 20px;
  margin: 0 0 0 5px;
}

.footer-block__form .form .form-control {
  border-color: #fff !important;
}

.footer-menu {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
}

.footer-menu li:last-child {
  margin: 0;
}

.footer-menu li a {
  font-size: 14px;
  line-height: 19px;
  color: #ABABAB;
  font-weight: 400;
}

.footer-menu li a:hover {
  color: #fff;
}

.footer-copy {
  padding: 30px 0 0 0;
  margin: 30px 0 0 0;
  border-top: 1px solid #fff;
}

.footer-copy p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #929292;
  margin: 0 0 10px 0;
}

.footer-copy p:last-child {
  margin: 0;
}

.form-group {
  margin: 0 0 10px 0;
}

.form-group ::-webkit-input-placeholder {
  color: #ABABAB;
}

.form-group ::-moz-placeholder {
  color: #ABABAB;
}

.form-group :-moz-placeholder {
  color: #ABABAB;
}

.form-group :-ms-input-placeholder {
  color: #ABABAB;
}

.form-control {
  border: 1px solid #DCDCDC;
  padding: 9px 15px;
  font-size: 14px;
  line-height: 19px;
  color: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-control:hover {
  border-color: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-control:focus {
  border-color: #151616;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea.form-control {
  height: 95px;
}

.form-group.error label {
  color: #DD2B1C;
}

.form-group.error .form-control {
  border-color: #DD2B1C;
  color: #DD2B1C;
}

.form-group.error ::-webkit-input-placeholder {
  color: #DD2B1C;
}

.form-group.error ::-moz-placeholder {
  color: #DD2B1C;
}

.form-group.error :-moz-placeholder {
  color: #DD2B1C;
}

.form-group.error :-ms-input-placeholder {
  color: #DD2B1C;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul.header-social {
  position: fixed;
  top: calc(50vh - 55px);
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 15;
}

ul.header-social li {
  margin: 5px 0;
}

ul.header-social li a img {
  max-width: 44px;
  max-height: 44px;
}

.header-search__button {
  display: none;
}

.hidd {
  overflow: hidden;
}

.jq-selectbox__select {
  height: auto;
  padding: 0 15px 0 0;
  border: 0 !important;
  border-radius: 0;
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font: 16px/16px Arial, sans-serif;
  color: #2655D8;
  text-shadow: none;
}

.jq-selectbox {
  z-index: 10;
  width: auto;
  margin: 0 0 0 8px;
}

.jq-selectbox__select-text {
  display: block;
  width: auto !important;
  color: #2655D8;
  border-bottom: 1px dashed #2655D8;
  padding: 0 0 3px 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.jq-selectbox__trigger {
  border: 0;
  width: 15px;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 2px;
  right: 0;
  width: 7px;
  height: 7px;
  border: 0;
  border-top: 1px solid #2655D8;
  border-right: 1px solid #2655D8;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.jq-selectbox:hover .jq-selectbox__select-text {
  color: #000;
  border-color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.jq-selectbox.opened .jq-selectbox__select-text {
  color: #000;
  border-color: transparent;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  top: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.jq-selectbox__dropdown {
  margin: 0 0 0;
  left: -16px;
  min-width: 180px;
  max-width: 180px;
  padding: 8px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #2655D8;
  border-radius: 6px;
}

.jq-selectbox ul li {
  margin: 2px 0;
  padding: 8px;
  font-size: 15px;
  line-height: 15px;
  color: #000;
  border-radius: 4px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.jq-selectbox ul li:hover {
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background: #F5F7FB;
}

.jq-selectbox ul li.sel {
  background: #fff;
  color: #2655D8;
}

.accordion {
  margin: 25px 0 0 0;
}

.accordion-item {
  background-color: #fff;
  border: none;
  margin: 15px 0 0 0;
}

.accordion-item-active {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.accordion-button {
  font-size: 16px;
  line-height: 18px;
  padding: 18px;
  color: #000;
  background: #F5F7FB;
  border-radius: 8px !important;
  font-weight: bold;
  border: 1px solid #E3E8EF;
}

.accordion-button:focus {
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #fff;
}

.accordion-body {
  padding: 0;
}

.fancybox-button svg path {
  fill: #fff;
  stroke: #fff;
}

.breadcrumb {
  background: #F4F6FA;
  border: 1px solid #E3E8EF;
  border-radius: 8px 8px 0 0;
  padding: 16px;
  margin: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.breadcrumb-item.active {
  color: #B1B2BC;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumb-item a {
  font-size: 14px;
  line-height: 16px;
  color: #2655D8;
  text-decoration: underline;
}

.breadcrumb-item a:hover {
  color: #2655D8;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #707070;
}

.inside-block {
  padding: 30px 15px;
  border-radius: 0 0 8px 8px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.page-link:focus {
  z-index: 3;
  color: #000;
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination {
  margin: 25px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-block {
  margin: 25px 0 0;
}

.pagination-block .button {
  width: 100%;
}

.pagination .page-item {
  margin: 0 3px;
}

.pagination .page-item:first-child .page-link {
  background: #F6F8FB;
  border-color: #F6F8FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  border-radius: 6px;
}

.pagination .page-item:first-child .page-link svg path {
  fill: #2655D8;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.pagination .page-item:first-child .page-link:hover {
  background: #2655D8;
}

.pagination .page-item:first-child .page-link:hover svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.pagination .page-item:first-child .page-link:active {
  background: 204AC1;
}

.pagination .page-item:first-child .page-link:active svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.pagination .page-item:first-child .page-link.disabled {
  background: #F6F8FB;
}

.pagination .page-item:first-child .page-link.disabled svg path {
  fill: #B1B2BC;
}

.pagination .page-item:last-child .page-link {
  background: #F6F8FB;
  border-color: #F6F8FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  border-radius: 6px;
}

.pagination .page-item:last-child .page-link svg path {
  fill: #2655D8;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.pagination .page-item:last-child .page-link:hover {
  background: #2655D8;
}

.pagination .page-item:last-child .page-link:hover svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.pagination .page-item:last-child .page-link:active {
  background: 204AC1;
}

.pagination .page-item:last-child .page-link:active svg path {
  fill: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.pagination .page-item:last-child .page-link.disabled {
  background: #F6F8FB;
}

.pagination .page-item:last-child .page-link.disabled svg path {
  fill: #B1B2BC;
}

.pagination .page-link {
  display: inline-block;
  padding: 9px 11px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 15px;
  line-height: 15px;
  color: #000;
  height: 35px;
  font-weight: 400;
}

.pagination .page-link:hover {
  color: #2655D8;
  background: #fff;
}

.pagination .page-link:active {
  color: #204AC1;
}

.pagination .page-link.active {
  color: #2655D8;
  border-color: #2655D8;
  background: #fff;
}

.chekbox {
  max-width: 100%;
  width: auto;
  margin: 0px 15px 8px;
  overflow: hidden;
  border-top: 1px solid #E3E8EF;
  padding: 0;
}

.chekbox p {
  margin: 8px 0;
}

.chekbox input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.chekbox input[type="checkbox"] + label {
  padding: 7px 0px 0px 30px;
  cursor: pointer;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #000;
  position: relative;
}

.chekbox input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 19px;
  height: 19px;
  background: #fff;
  z-index: 5;
  border: 1px solid #71809A;
  border-radius: 3px;
}

.chekbox input[type="checkbox"]:checked + label:after {
  content: '';
  top: 10px;
  left: 5px;
  width: 10px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  z-index: 10;
}

.chekbox input[type="checkbox"] + label:hover:before {
  border-color: #2655D8;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.chekbox input[type="checkbox"] + label:before {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.chekbox input[type="checkbox"] + label:active:before {
  border-color: #577EE9;
  background: #F6F8FB;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.mySwiper2 {
  margin: 0 40px;
}

.mySwiper2 .swiper-slide {
  height: 62px;
  border-radius: 7px;
  border: 1px solid #E3E8EF;
  text-align: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.mySwiper2 .swiper-slide-active {
  border-color: #2655D8;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.mySwiper2 .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  -o-object-position: center;
     object-position: center;
}

.mySwiper {
  margin: 0 0 10px 0;
}

.mySwiper .swiper-slide {
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mySwiper .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cookie-block {
  padding: 24px 16px;
  border-radius: 8px;
  background: #fff;
  bottom: 24px;
  right: 24px;
  position: fixed;
  z-index: 55;
  width: 100%;
  max-width: 280px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cookie-block p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-weight: 400;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 1199px) {
  .main-block__content {
    max-width: 630px;
  }
  .header-content__block_phones p span.note {
    display: none;
  }
  .left-menu__dropdown {
    width: 675px;
  }
  .main-slider__slide {
    padding: 30px 60px;
  }
  .main-slider__text {
    max-width: 300px;
  }
  .odds-block__item {
    height: 212px;
  }
  .odds-block__item_content {
    padding: 20px;
  }
  .docs-item {
    height: 230px;
  }
  .system-item__image {
    height: 240px;
  }
  .categories-slider-slide__image {
    height: 165px;
  }
  .blog-item__image {
    height: 160px;
  }
  .video-iframe {
    height: 160px;
  }
  .video-block {
    height: 160px;
  }
}

@media screen and (max-width: 991px) {
  .main-block {
    display: block;
  }
  .main-menu__item {
    margin: 0 0 0 25px;
  }
  .header-content__logo {
    min-width: 160px;
    max-width: 160px;
  }
  .header-content__logo img {
    width: 160px;
  }
  .header-content__block .a-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__block_phones a.callback span.text {
    margin: 0 0 0 10px;
  }
  .header-content__block_mail a.mail span.text {
    margin: 0 0 0 10px;
  }
  .left-menu__item:hover .left-menu__link {
    color: #151616;
    background: #fff;
  }
  .header-catalog {
    min-width: 200px;
    max-width: 200px;
    margin: 0 15px 0 0;
  }
  .sidebar {
    max-width: 100%;
    min-width: auto;
  }
  .left-menu__dropdown {
    width: 100%;
    position: initial;
    display: none;
  }
  .left-menu__link img {
    display: block;
    background: #F5F5F5;
    position: absolute;
    top: 6px;
    right: 8px;
    bottom: 0;
    width: auto;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .left-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .header-item a.link span.text {
    display: none;
  }
  .header-item a.link img {
    margin: 0;
  }
  .header-search {
    margin: 0 10px 0 0;
  }
  a.left-menu__link.active {
    color: #DD2B1C !important;
    background: #F5F5F5 !important;
  }
  a.left-menu__link.active img {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .left-menu__dropdown.active {
    display: block;
    margin: 0 0 10px 0;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  }
  .left-menu__dropdown p.title {
    display: none;
  }
  .left-menu__dropdown {
    padding: 20px;
  }
  .left-menu__submenu {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .main-block__content {
    max-width: 100%;
    margin: 40px 0 0 0;
  }
  .main-company__text h2, .main-company__text p {
    max-width: 100%;
  }
  .odds-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .odds-block__item {
    width: calc(50% - 30px);
    margin: 0 15px 30px;
  }
  .odds-block__item {
    height: 335px;
  }
  .docs-item {
    height: 215px;
  }
  .system-item__image {
    height: 190px;
  }
  .system-item__text {
    padding: 20px;
  }
  .categories-slider-slide__image {
    height: 185px;
  }
  .blog-item__image {
    height: 120px;
  }
  .video-iframe, .video-block {
    height: 120px;
  }
  .footer-form .form {
    margin: 30px 0 0;
  }
  .footer-message__content p {
    max-width: 450px;
  }
  .footer-block__item {
    margin: 30px 0;
  }
  .footer-block__indent {
    margin: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .fixed-menu {
    display: none;
    position: absolute;
    top: 0;
    left: -18px;
    right: -18px;
    background: #fff;
    padding: 65px 30px 20px;
    z-index: 25;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 6px 6px;
  }
  .main-menu__item {
    margin: 15px 0;
  }
  .menu-toggle {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    position: relative;
    background: #000;
  }
  .menu-toggle-cont {
    width: 18px;
    height: 18px;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 30;
  }
  .menu-toggle-cont:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .menu-toggle-cont_active .menu-toggle {
    height: 0;
  }
  .menu-toggle-cont_active .menu-toggle:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #DD2B1C;
    top: auto;
  }
  .menu-toggle-cont_active .menu-toggle:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: auto;
    background: #DD2B1C;
  }
  .menu-toggle:before,
  .menu-toggle:after {
    content: "";
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
  }
  .menu-toggle:before {
    top: 1px;
  }
  .menu-toggle:after {
    top: -1px;
  }
  .menu-toggle:before {
    -webkit-transform: translateY(-350%);
    transform: translateY(-350%);
  }
  .menu-toggle:after {
    -webkit-transform: translateY(350%);
    transform: translateY(350%);
  }
  .header-content {
    display: block;
  }
  .header-content__logo {
    margin: 0 0 10px 0;
  }
  .header-menu {
    padding: 0;
    border-bottom: 0px;
  }
  .header-menu .container {
    position: relative;
  }
  .main-menu {
    display: block;
  }
  .header-content__logo {
    position: relative;
    z-index: 30;
  }
  .header-content__block_phones a.phone {
    display: none;
  }
  .header-content__block_phones p {
    margin: 3px 0 0;
  }
  ul.header-social {
    display: none !important;
  }
  .header-search__button {
    display: block;
  }
  .header-search__button svg path {
    fill: #151616;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .header-search__form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 75px;
  }
  .header-search {
    margin: 0 15px 2px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-gray {
    position: relative;
  }
  .header-search__form .input {
    padding: 10px 75px 10px 20px;
    margin: 14px 0 0 0;
  }
  .header-search__form .button {
    position: absolute;
    top: 16px;
    right: 20px;
  }
  .header-content {
    padding: 20px 0 15px;
  }
  .main-slider__slide {
    background-size: cover !important;
  }
  .services-slider__slide p {
    max-width: calc(100% - 50px);
  }
  .main-company {
    padding: 50px 0;
  }
  h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .odds-block__item {
    height: 245px;
  }
  .block-caption {
    display: block;
  }
  .block-caption h2 {
    margin: 0 0 20px 0;
  }
  .categories-slider-slide__image {
    height: 140px;
  }
  .serv-slider__slide {
    height: 360px;
  }
  .serv-slider__slide span.text-title {
    height: auto;
  }
  .nav-tabs {
    margin: 0 0 20px 0;
  }
  .blog-item {
    margin: 0 0 40px 0;
  }
  .blog-item__image {
    height: 250px;
  }
  .blog-tabs {
    padding: 60px 0 20px;
  }
  .video-iframe, .video-block {
    height: 250px;
  }
  .seo-text h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .indent-block {
    margin: 60px 0;
  }
  .popular-categories {
    padding: 60px 0;
  }
  .docs {
    padding: 60px 0 35px;
  }
  .main-company {
    margin: 60px 0 60px;
  }
  .footer-message__content p {
    max-width: 100%;
  }
  .footer-message__content {
    display: block;
  }
  .footer-message__content .text {
    margin: 0 0 20px 0;
  }
  .footer-content {
    padding: 60px 0 30px;
  }
  .categories-slider-slide__text {
    padding: 20px;
  }
}

@media screen and (max-width: 575px) {
  .header-content__block .a-top {
    display: block;
  }
  .header-item a.link {
    padding: 10px 10px 10px 10px;
  }
  .header-item a.link span.quantity {
    top: 0px;
    right: 2px;
  }
  .header-search {
    margin: 0 5px 2px 0;
  }
  .attention-close {
    right: 5px;
    top: 7px;
  }
  .swiper-next {
    right: 0;
  }
  .swiper-prev {
    left: 0;
  }
  .services-slider__content .swiper-prev {
    display: none;
  }
  .services-slider__content .swiper-next {
    right: 0;
  }
  .docs-content .swiper-next {
    right: 0;
  }
  .docs-content .swiper-prev {
    left: 0;
  }
  .popular-categories__slider .swiper-next {
    right: 0;
  }
  .popular-categories__slider .swiper-prev {
    left: 0;
  }
  .services-indent .swiper-next {
    right: 0;
  }
  .services-indent .swiper-prev {
    left: 0;
  }
  .main-section {
    overflow: hidden;
  }
  .header-content__block_phones p {
    margin: 0;
  }
  .header-content__block_phones {
    margin: 0 0 10px 0;
  }
  .header-content__logo {
    margin: 0 0 15px 0;
  }
  .left-menu__submenu {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .main-slider__slide {
    position: relative;
  }
  .main-slider__slide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }
  .main-slider__text {
    position: relative;
    z-index: 7;
  }
  .odds-block__item {
    width: calc(100% - 30px);
  }
  .odds-block__item {
    height: 340px;
  }
  .docs-item {
    height: 480px;
  }
  .categories-slider-slide__image {
    height: 190px;
  }
  .serv-slider__slide {
    height: 450px;
  }
  .blog-item__image {
    height: 180px;
  }
  .video-iframe, .video-block {
    height: 180px;
  }
  .footer-form .form-flex .form-group {
    width: calc(50% - 10px);
  }
  .footer-form .form-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-form .form-flex .form-group:first-child {
    width: calc(100% - 10px);
  }
  .footer-form {
    padding: 60px 0;
  }
  .footer-form .form-action {
    display: block;
  }
  .footer-form .form-action p {
    margin: 0 0 20px 0;
  }
  .footer-message__content {
    padding: 30px 20px 20px;
  }
  .footer-message {
    padding: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */